<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biolife</title>    
    <link rel="icon" type="image/png" href="~/images/bio_icon.png" sizes="32x32">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/icofont/icofont.min.css" />
    <link rel="stylesheet" href="~/css/main.css">

    <style type="text/css">
       /* Định nghĩa placeholder */
.placeholder_custom {
    background-color: #e0e0e0; /* Màu nền xám */
    color: transparent; /* Ẩn text bên trong */
    border-radius: 4px; /* Bo góc nếu cần */
    width: 100%; /* Chiều rộng sẽ tự động theo kích thước của DOM */
    height: auto; /* Chiều cao tự điều chỉnh */
    position: relative;
}

/* Hiệu ứng loading (nếu cần) */
.placeholder_custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(224,224,224,0) 0%, rgba(224,224,224,0.4) 50%, rgba(224,224,224,0) 100%);
    animation: loading 1.5s infinite;
}

@@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

    </style>

    @await RenderSectionAsync("SocialMetaTags", required: false)

  @*  <environment include="Development">    

    </environment>

    <environment exclude="Development">
     
    </environment>*@
</head>
<body>

    <!-- Header Start -->

    <div id="header-container"></div>
    <!-- Header End -->

    <!-- HOME -->
    @RenderBody()   
    <!-- END HOME -->

    <!-- Footer Start-->
    <div id="footer-container"></div>
   
    <!-- Footer End-->

    <button class="backToTopBtn"></button>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    @*  <script src="~/js/common.js"></script> move vào Views\Shared\Components\Header\Default.cshtml vì load ajax*@
    <script src="~/js/lib/defined_param.js"></script>
    <script src="~/js/header/main.js"></script>
    <script src="~/js/footer/main.js"></script>
    <script src="~/js/group_product/main.js"></script>    
    
    @await RenderSectionAsync("Scripts", required: false)  
</body>
</html>
